/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~GENERAL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html{
     overflow-x: hidden;
     font-family: 'Raleway', sans-serif;
}
body{
    --primary : #0065FC;
    --secondary : #5699fd;
    --gray : #F2F2F2;

    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", sans-serif;
     overflow-x: hidden; 
}
a{
    text-decoration: none;
    color: black;
}  
h1{
    font-weight: bold;
    margin: 30px 0px 0px 0px;
}
h2{
    margin: 0px 0px 25px 0px;
    font-size: 24px;
}
h3{
    font-weight: bolder;
    margin: 8px 0px;
}
ul{
    list-style: none;
}
.fa-star{
    font-size: 0.75em;
    color: var(--primary);
}
.fa-star-gray{
    color: #d3d3d3;
}
.fa-map-marker-alt{
    font-size: 1.25em;   
}
.fa-search{
    visibility: hidden;
}
main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accomodation img, .activity img{
    border-radius: 20px 20px 0px 0px;
}
.best img{
    border-radius: 20px 0px 0px 20px;
}
#content{
    width: 100%;
    max-width: 1300px;
}
article{
    white-space: nowrap;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header{
    display: flex;
    justify-content: space-between;
}
#logo{
    padding-top: 40px;
    cursor: pointer;
}
nav{
    display: flex;
}
#nav-list{
    display: flex;
    margin: 0px 0px 0px 0px;  
}
#nav-list li{
    width: 140px;
    min-width: 100px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-top: solid 3px #ffffff;
}
#nav-list a{
    position: relative;
    top: 5px;
}
#nav-list li:nth-child(1){
    color: var(--primary);
    border-top: solid 3px var(--primary);
}
#accomodation-link, #inscription-link{
    color: var(--primary);
}
#inscription-link{
    font-weight: bold;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MAIN~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ASIDE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~search-location~~~~~~~~~~~~~*/
h1 ~ p{
    margin-top: 8px;
}
#search-location{
    display: flex;
    margin-bottom: 20px;
}
#search-location div {
    height: 45px; 
    width: 45px;
    background: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;

}
#location{
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bolder;
    color: black;
    height: 45px;  
    padding-left: 25px;
    border: 1px solid rgb(211, 211, 211);
    border-left: none;
}
#location::placeholder{
    color: black;
    font-weight: bold;
}
#search{
    margin-left: -5px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bolder;
    color: white;
    height: 45px;
    width: 148px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--primary);
    cursor: pointer;
}

/*~~~~~~~~~~~~~filters~~~~~~~~~~~~~*/
#filter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
    min-width: 385.2px;
}
#filter span{
    font-weight: bolder;
    margin-top: 10px;
}
.filter{
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 30px;
    border: 2px solid rgba(49, 49, 49, 0.198);
    margin-left: 32px;
    margin-top: 10px;
    cursor: pointer;
}
span:first-child{
    font-size: 18px;
}
.filter div{
    background: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -12px;
}
.filter div i{
    color: var(--primary);
    font-size: 1.25em;
}
.filter input{
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bolder;
    padding: 0px 20px 0px 0px;
    border: none;
    border-radius: 25px;
    background: white;
    cursor: pointer;
}
#info{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
#info div{
    height: 25px;
    width: 25px;
    border: solid rgb(163, 163, 163) 1px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#info div i{
    color :var(--primary);
    margin : 1px 0px 0px 1px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ARTICLE1~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.page-part{
    width: 100%;
}
#page-part-1{
    display: grid;
    grid-template-columns: 65% 32%;
    grid-gap : 3%;
    height: 640px;
    margin-bottom: 55px;
}
#town-accomodation {
    grid-column: 1 / 2;
    background-color: var(--gray);
    padding: 45px 38px 25px 38px;
    border-radius: 25px;
}
#accomodation-list{
    height: 450px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 28px;
    row-gap: 35px;
    padding: 0px 0px 40px 0px;
    margin: 0px;
}
.accomodation{
    background-color: white;
    border: solid 5px white;
    border-radius: 25px;
    box-shadow: 0px 9px 30px -20px rgb(92, 92, 92);
    cursor: pointer;
}
.accomodation .img{
    height: 110px;
    border-radius: 20px 20px 0px 0px;
}
.accomodation-info{
    padding-left: 15px;
}
.accomodation-info div{
    margin-top: 5px;
}
#town-accomodation .btn{
    margin: 0px;
    font-weight: bold;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ARTICLE2~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#best-accomodation{
    grid-column: 2 / 3;
    padding: 45px 35px 35px 35px;
    border-radius: 25px;
    background-color: var(--gray);
    white-space: normal;
}
#best-list{
    margin-top: 0px;
    padding: 0px;
    height: 455px;
    display: grid;
    grid-template-rows: 3fr 3fr 3fr;
    grid-gap : 27px;
}
#best-accomodation #title:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#best-accomodation #title i {
    margin-top: -15px;
}
.best{
    display: flex;
    height: 140px;
    min-width:300px;
    border: solid 5px white;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 9px 30px -20px rgb(92, 92, 92);
}
.best .img{
    max-width: 43%;
    min-width: 140px;
	height: auto;
    border-radius: 20px 0px 0px 20px;
}
.best .accomodation-info{
    display: flex;
    flex-direction: column;
    height: 93%;
    max-height: 131px;
    justify-content: space-between;
}
.best .accomodation-info h3{
    padding-right: 5px;
}
.best .accomodation-info p span{
 font-weight: bold;
 position: relative;
 top: -1px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ARTICLE3~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#activity-list{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: 180px 2px 180px;
    column-gap : 3%;
    row-gap: 40px;
    padding: 0px;
}
#activity{
    margin-bottom: 70px;
}
.activity{
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 9px 30px -20px rgb(92, 92, 92);
    cursor: pointer;
}
.activity .img{
    height: 162px;
    border-radius: 25px 25px 0px 0px;
}
.activity .img-little{
    height: 122px;
}
.activity .img-big{
    height: 385px !important;
}
.activity h3{
    margin: 19px 0px 0px 20px;
}
#activity-1, #activity-4{
    grid-row: 1 /4;
}
#activity-2{
    grid-row: 1 /3;
}
#activity-3{
    grid-row: 3 /4;
}
#activity-5{
    grid-row: 1 /2;
}
#activity-6{
    grid-row: 2 /4;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer{
    background-color: var(--gray);
    height: 215px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1300px auto;
    padding-top: 50px;
}
#under-footer{
    grid-column: 2 /3;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}
footer ul{
    padding: 0px;
}
footer li{
    padding-top: 15px;
}
